@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
header, main{
    font-family: Quicksand;
    width: 1200px;
    margin: 0 auto;
    
}

*{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}
.div-img  {
    display: flex;
   align-items: center;
   
}
.div-img h1{
    padding-left: 10px;
    font-size: 35px;
}
.home{
    color: orange;
}
.about{
    color: skyblue;
}
.Facilities{
    color: #640f0f;
}
.Admission{
    color: blue;
}


.navber, ul, button{
display: flex;
padding: 0 30px;
align-items: center;

}
button{
   background-color: orange;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}

 ul li{
    list-style:none ;
    padding: 0 30px;
}
a{
    text-decoration: none;
}
.fa-solid{
    display: none;
}
.icon-menu{
    display: none;
}
@media screen and (max-width:576px) {
    header {
        max-width:100%;

  }
    .icon-menu{
        display: block;
        font-size: 25px;
    }
    .div-img h1, .navber ul, button{
        display: none;
    }
}

